.players-table th {
  cursor: pointer;
  }
.players-table th:hover {
  background-color: #F7E9FB;
}
.players-table .goalkeeper {
  color: #708090;
}
.players-table .defender {
  color: #BA55D3;
}
.players-table .midfielder {
  color: #B7E;
}
.players-table .forward {
  color: #7787F3;
}

h1 {
  font-family: serif;
  font-size: 500%;
  color: #120;
  }
#container {
    display: flex;
    flex-flow: row-reverse;

}
#container1 {
    display: flex;
    flex-flow: row-reverse;

}

.right {
  border: solid 1px red;
}

.left {
  border: solid 1px blue;
}

.wtf {
  border: solid 1px green;

}

.qtf {
  border: solid 1px gray;
}

.imgPicture {

    width: 700px;
    height: 600px;
    overflow: hidden;
    outline: 3px solid black;
    margin: 10px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

img.player {
  width: 700px;
   border: none;
   margin: 0;
   padding: 0;
}

ul.player-pictures li {
  display: inline-block;
}

ul.player-pictures img {
  height: 100px;
  width: 100px;
  padding: 1em;
}

ul.player-pictures img:hover {
  cursor: pointer;
}
