<div>
  <div class="panel panel-success">
    <div class="panel-body">
        <div class="form-inline">
          <input class="form-control" placeholder="Search..." ng-model="query">
          <button class="btn btn-default" ng-click="query=''">Clear</button>
          <select class="form-control" ng-model="order" >
            <option ng-repeat="field in orderFields" value="{{field.value}}">
              {{field.display}}
            </option>
          </select>
        </div>
    </div>

  </div>
  <table ng-show="filteredPlayers.length" class="table table-hover players-table">
    <thead>
      <tr>
        <th ng-click="order='player_name'">Name <span ng-if="order == 'player_name'">*</span></th>
        <th ng-click="order='player_lastname'">Last name <span ng-if="order == 'player_lastname'">*</span></th>
        <th ng-click="order='player_club'">Club <span ng-if="order == 'player_club'">*</span></th>
        <th ng-click="order='player_birthdate'">Birthdate <span ng-if="order == 'player_birthdate'">*</span></th>
        <th ng-click="order='player_nationality'">Nationality <span ng-if="order == 'player_nationality'">*</span></th>
        <th ng-click="order='player_position'">Position <span ng-if="order == 'player_position'">*</span></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="player in filteredPlayers = (players | filter:search | orderBy:order)">
        <td><a href="#/players/{{player.player_id}}">{{player.player_name}}</a></td>
        <td><a href="#/players/{{player.player_id}}">{{player.player_lastname}}</a></td>
        <td>{{player.player_club}}</td>
        <td>{{player.player_birthdate | dateConv}}</td>
        <td>{{player.player_nationality}}</td>
        <td ng-class="player.player_position">{{player.player_position}}</td>
      </tr>
    </tbody>
  </table>
  <div class="alert alert-danger" ng-show="!filteredPlayers.length">Empty!</div>
</div>
